* {
    font-family: 'Nunito', sans-serif;
}

/* header */

header {
    float: left;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    position: fixed;
}

header ul {
   list-style: none;
   padding: 0;
}

header ul li {
    padding: 20px;
    font-size: 25px; 
    transition: font-size 1s ease 0s, font-weight 0.5s ease 0s;
}

header ul li a {
    text-decoration: none;
    color: #000;
    position: relative;
}

a:hover:before {
    width:100%;
    right: 0;
    transition: width 0.5s ease 0s, right 0.5s ease 0s;
}
a:before {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    right: 0;
    position: absolute;
    background: #2F74D0;
    width: 0;
    transition: width 1s ease 0s, right 0.5s ease 0s;
}

.current {
    font-size: 30px;
    font-weight: 700;
    transition: font-size 1s ease 0s, font-weight 0.5s ease 0s;
}

/* body */

main {
    float: right;
    background: #a3e1ff;
    width: 80%;
    height: 100vh;
    overflow: visible;
}

.wrapper-1 {
    background: #8AF3FF;
}
.wrapper-2 {
    background: #78C0E0;
}

/* bio */

section {
    width: 75%;
    font-size: 20px;
    color: #00072D;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* projects */

.project-card {
    width: 80%;
    background: #F0F7F4;
    border: #eee 1px solid;
    border-radius: 2px;
    margin: 0 auto;
    font-size: 18px;
}

.project-card img {
    width: 100%;
}

.project-card i {
    font-size: 30px;
}

.project-description {
    padding: 20px;
}

.project-description h2, .project-description p {
    font-family: 'Open Sans', sans-serif !important;
}

.project-card button {
    text-decoration: none;
    border-radius: 3px;
    margin-right: 10px;
}

.project-card button:hover {
    background: #98D2EB;
}

.project-card button a {
    text-decoration: none;
    color: inherit;
}

/* about */

.about {
    line-height: 42px;
    font-size: 20px;
}

/* contact */

.contact {
    text-align: center;
}

.contact-links i {
    font-size: 40px;
    color: black;
    padding: 10px;
    transition: font-size 0.5s ease 0s
}

.contact-links i:hover {
    position: relative;
    font-size: 60px;
    transition: font-size 0.5s ease 0s
}

@media (max-width: 767.98px) { 
    header {
        float: none;
        width: 100%;
        display: flex;
        align-items: center;
        height: auto;
        background: white;
    } 
    header ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
    }
    header ul li {
        font-size: 20px; 
    }
    .current {
        font-size: 23px;
    }
    main {
        float: none;
        width: 100%;
    }
    .about {
        line-height: 30px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 600px) {
    header ul li {
        font-size: 1.1rem;
    }
    .current {
        font-size: 1.2rem;
    }
} 

@media only screen and (max-width: 400px) {
    header ul li {
        font-size: 0.9rem;
        padding: 20px 5px!important;
    }
    .current {
        font-size: 1.1rem;
    }
} 
