/* -- Contact -- */

.contact { 
  text-align: center;
}

.contact-links svg {
  font-size: 40px;
  color: black;
  padding: 10px;
  transition: font-size 0.5s ease 0s;
}

.contact-links svg:active {
  position: relative;
  font-size: 60px;
  transition: font-size 0.5s ease 0s
}