/* -- About -- */

.intro {
    background: rgb(187, 245, 252);
    width: 100%;
    font-size: 15px;
    line-height: 50px;
    display: flex;
    flex-direction: column;
}

.face-pic {
    width: 80%;
    position: relative;
    top: 5px;
    left: 20px;
}

.intro h2 {
    margin: 0 25px;
    text-align: left;
    padding: 0 15px;
    background: whitesmoke;
    border-radius: 5px;

}
  
@media screen and (min-width: 600px) {
    .about {
        line-height: 30px;
        font-size: 18px;
    }
}

@media screen and (min-width: 768px) {
    .intro {
        line-height: 42px;
        font-size: 20px;
        padding: 0 130px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .face-pic {
        top:12px;
    }
}
